**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.gitignore
**/*.user
**/*.suo
**/TestResults/
**/coverage/
**/*.trx
**/node_modules/
**/appsettings.Local.json
**/appsettings.Development.json
infra/
tests/
*.md
.azure/
